::ng-deep .p-card {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  transition: transform 0.3s; /* Add a transition for smooth animation */
}
@media print {
    /* Reset margins for the whole page */
    @page {
      margin: 0;
    }
  
    /* Hide non-printable elements */
    .printable {
      display: none;
    }
  
    /* Adjust margins for the .p-card element to make it full-screen */
    ::ng-deep .p-card {
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: white; /* Set background color to white */
      border: none; /* Remove border */
      box-shadow: none; /* Remove box shadow */
    }
  
    /* Style the content inside the .p-card as needed */
    ::ng-deep .p-card-content {
      padding: 0; /* Remove padding */
    }

    ::ng-deep .p-paginator{
        display: none;
    }
  }
  