<p-toast></p-toast>

<p-card>

    <div style="margin-bottom: 7px;" class="printable">
        <p-menubar [model]="items"></p-menubar>
    </div>
    
    <p-table
    #dt
    dataKey="commandId"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [value]="commands"
    [paginator]="true"
    [resizableColumns]="true" 
    selectionMode="multiple" 
    [reorderableColumns]="true"
    [(selection)]="selectedCommands" >

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem" class="printable">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="commandId">Id <p-sortIcon field="commandId" class="printable"  /></th>
            <th>Client <p-columnFilter type="text" field="clientName" display="menu" class="printable"/></th>
            <th>Start Date <p-columnFilter type="date" field="dateStart" display="menu" class="printable"/></th>
            <th>End Date <p-columnFilter type="date" field="dateEnd" display="menu" class="printable"/></th>
            <th>Status <p-columnFilter type="text" field="statusFinished" display="menu" class="printable"/></th>
            <th>Payment Status <p-columnFilter type="text" field="paid" display="menu" class="printable"/></th>
            <th>Description <p-columnFilter type="text" field="problemDescription" display="menu" class="printable"/></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client let-index="rowIndex">
        <tr class="p-selectable-row" [pReorderableRow]="index">

            <td class="printable"> 
                <p-tableCheckbox [value]="client" pReorderableRowHandle/>
            </td>
            
            <td> {{ client.commandId }} </td>


            <td [pEditableColumn]="client.clientName" pEditableColumnField="clientName">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input 
                            pInputText 
                            type="text"     
                            [(ngModel)]="client.clientName" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ client.clientName }}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>{{ client.dateStart | date:'dd/MM/yyyy' }}</td>

            <td>{{ client.dateEnd | date:'dd/MM/yyyy' }}</td>


            <td [pEditableColumn]="client.statusFinished" pEditableColumnField="statusFinished">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input 
                            pInputText 
                            type="text"     
                            [(ngModel)]="client.statusFinished" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ client.statusFinished }}
                    </ng-template>
                </p-cellEditor>
            </td>


            <td [pEditableColumn]="client.paid" pEditableColumnField="paid">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input 
                            pInputText 
                            type="text"     
                            [(ngModel)]="client.paid" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ client.paid }}
                    </ng-template>
                </p-cellEditor>
            </td>


            <td [pEditableColumn]="client.problemDescription" pEditableColumnField="problemDescription">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input 
                            pInputText 
                            type="text"     
                            [(ngModel)]="client.problemDescription" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ client.problemDescription }}
                    </ng-template>
                </p-cellEditor>
            </td>
    
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Aucun client trouvé.</td>
        </tr>
    </ng-template>
</p-table>

</p-card>

