<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
      <nav >
         <div class="logo">
            GSC
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
            <ul>
               <li><a class="list" >Calculator</a></li>
               <li><a class="list" >Invoice</a></li>
               <li><a class="list" >Dashboard</a></li>
               <li><a class="list" >Clients</a></li>
               <li><a class="list" >Feedback</a></li>
           </ul>       
         </ul>
      </nav>
  
